.titulo{
    background-image: linear-gradient(rgba(246, 236, 224, 0.5), rgba(248, 230, 210, 0.5)),
    url('https://img.freepik.com/foto-gratis/vista-superior-decoracion-spa-botellita_23-2148290962.jpg?uid=R195384068&ga=GA1.1.1117630890.1730399903&semt=ais_hybrid&w=740');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
    width: 100%;
}