.titulo{
    background-image: linear-gradient(rgba(246, 236, 224, 0.5), rgba(248, 230, 210, 0.5)),
    url('https://res.cloudinary.com/dljpuje5r/image/upload/v1744534377/vista-superior-decoracion-spa-botellita_23-2148290962.jpg_gojvvi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
    width: 100%;
    display: flex;
    align-items: center;
}

/*botón reserva*/
.boton{
    background: #D8C7B9;
    height: 30px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

/*imagen antes y después*/
.img{
    display: flex;
    width: 450px;
    height: 520px;
    align-items: center;
    margin-bottom: 100px;
}
/*contenedor img y boton*/
.contenedor{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*todo el texto informativo*/
.descripcion{
    font-family: 'Open Sans', sans-serif;
    color: #7d7b7c;
    text-align: justify;
    font-size: 20px;
}

.subtitulo{
    font-family: 'Playfair Display', serif;
    color: #7d7b7c;
    font-size: 35px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .contenedor {
        margin-bottom: 10px;
    }

    .descripcion {
        font-size: 1.1rem;
    }

    .subtitulo {
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 10px;
    }
}