.titulo{
    background-image: linear-gradient(rgba(246, 236, 224, 0.5), rgba(248, 230, 210, 0.5)),
    url('https://res.cloudinary.com/dljpuje5r/image/upload/v1744534377/vista-superior-decoracion-spa-botellita_23-2148290962.jpg_gojvvi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
    width: 100%;
}