.AppoimentsButton{
    margin-right: 150px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin-top: 10px;
}

.icon{
    font-size: 50px
}

/* tablets */
@media (max-width: 768px) {
    .AppoimentsButton {
        position: absolute;
        top:260px;
        right: 10px;

    }
}


/* móviles*/
@media (max-width: 480px) {
    .AppoimentsButton {
        position: absolute;
        top:260px;
        
    }

    .containerAppoint {
        display: flex;
        justify-content: flex-end; /* A la derecha */
        width: 100%;
        padding-right: 20px; /* Opcional: margen con el borde */
    }
}


