.AppoimentsButton{
    margin-right: 150px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin-top: 10px;
}

.icon{
    font-size: 50px
}

/* tablets */
@media (max-width: 768px) {
    .AppoimentsButton {
        position: absolute;
        top:200px;
        left: 260px;

    }
}

