.titulo {
    background-image: linear-gradient(rgba(246, 233, 217, 0.5), rgba(248, 230, 210, 0.5)),
        url('https://res.cloudinary.com/dljpuje5r/image/upload/v1744535274/vista-lujoso-espacio-interior-hotel_23-2150683409.jpg_hznprr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20cm;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

/*contenedor de los datos y el map*/
.contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
}

/*subcontenedor datos*/
.datos {
    flex: 1;
    margin-top: 50px;
}

/*subcontenedor map*/
.map {
    display: flex;
    margin-top: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.googleMap {
    width: 600px;

}

.contacto .mail,
.contacto .telefono,
.contacto .direccion,
.contacto .horario {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 1rem;
    color: #7d7b7c;
    font-size: 19px;
}

.subtitulo {
    font-size: 22px;
    color: #7d7b7c
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form button {
    background: #D8C7B9;
    height: 40px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.nombre,
.mail,
.mensaje,
.telefono {
    font-family: 'Open Sans', sans-serif;
    color: #7d7b7c;
    background-color: #F4F0EB;
    border-radius: 10px;
    border-color: #b5b4b5;

}

.mensaje {
    width: 450px;
    height: 150px;
}

.nombre,
.mail {
    width: 450px;
    height: 20px;
}

.contenedorBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1440px) {
    .titulo {
        height: 15cm;
        background-size: cover;
        width: 100%;
    }
}



/*PANTALLAS PEQUEÑAS*/
@media (max-width: 1024px) {
    .googleMap {
        display: flex;
        width: 400px;
    }
}


/*TABLETS*/
@media (max-width: 768px) {
    .map {
        position: absolute;
        top: 90%;
        left: 25%;
    }
    .datos {
        margin-top: 10px;
    }
    .mail,
    .nombre,
    .mensaje {
        width: 100%;
    }
    .form {
        position: absolute;
        top: 130%;
        left: 8%;
    }
}




/*MÓVILES*/

@media (max-width: 480px) {

    .map {
        position: absolute;
        top: 130%;
        left: 10%;

    }
    .datos {
        margin-top: 10px;
    }
    .mail,
    .nombre,
    .mensaje{
        width: 100%;
    
    }
    .subtitulo {
        font-size: 18px;
        text-align: center;
    }

    .form {
        position: absolute;
        top: 180%;
        left: 5%;
        width: 80%;
    }

}