.titulo{
    background-image: linear-gradient(rgba(246, 233, 217, 0.5), rgba(248, 230, 210, 0.5)),
    url('https://res.cloudinary.com/dljpuje5r/image/upload/v1744534429/depilacion-laser-terapia-depilacion_1303-23670.jpg_utipzn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
    width: 100%;
}