.styles_mail,
.styles_telefono,
.styles_direccion,
.styles_horario {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: #7d7b7c;
    font-family: 'Lora', serif;
    justify-content: center; 
}

.icon{
    color: #7d7b7c;
    margin-right: 10px;
}

.contacto, .informacion {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;      
    text-align: center;       
    gap: 1rem;           
}

.siguenos{
    flex:1;
    align-items: center;   
    text-align: center;       
}

.contenedorprincipal{
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    flex-wrap: wrap; 
    margin-top: 250px;
}


/* tablets */
@media (max-width: 768px) {
    .contactoInfoRedes {
        flex-direction: column; 
        gap: 15px;
    }
}

/* móvil */
@media (max-width: 480px) {
    .contactoInfoRedes {
        flex-direction: column;  
        gap: 15px;  
        align-items: center;  
        justify-content: center; 
        margin-left: 120px;
    }
}
