.inicio{
    background-image: linear-gradient(rgba(246, 233, 217, 0.6), rgba(248, 230, 210, 0.6)),
    url('https://res.cloudinary.com/dljpuje5r/image/upload/v1744535274/vista-lujoso-espacio-interior-hotel_23-2150683409.jpg_hznprr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
    width: 100%;
}


.info{
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.info p {
    margin-top: 50px;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.subtitulo {
    font-size: 32px;
    text-align: center;
    margin-bottom: 2rem;
    color: #7d7b7c;
    font-weight: 600;
    margin-top: 80px;
}

.link{
    background: #D8C7B9;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    margin: 25px auto; 
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center; 
}


.tratamientos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.clase{
    display: flex;
    align-items: center;
    justify-content: center;
}


.img {
    height: 220px; 
    width: 300px; 
    border-radius: 8px; 
    margin-bottom: 10px; 
    margin-top: 20px;
}


/*contenedor principal sobre mi*/
.sobreMi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    text-align: justify;
}
.imgsobremi{
    height: 650px; 
    width: 550px;
    
}

.carta{
    font-family: 'Parisienne', cursive;
    font-size: 25px;
}

.pregunta{
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
}

.saludo{
    font-family: 'Parisienne', cursive;
    font-size: 45px;
}

/* Portátil */
@media (max-width: 1024px) {
    .inicio {
        height: 100vh;
        background-size: cover;
        width: 100%;
    }

    .info {
        font-size: 18px;
    }

    .info p {
        font-size: 1.1rem;
        margin-top: 15px;
        padding: 0 40px;
        width: 100%;
    }

    .subtitulo {
        font-size: 1.3rem;
        text-align: center;
        padding: 0 40px;
    }

    .tratamientos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        gap: 20px;
        padding: 0 40px;
    }

    .link {
        width: 80%;
        margin: 0 auto;
        padding: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .pregunta {
        font-size: 2.2rem;
        text-align: center;
        margin-top: 80px;
        padding: 0 40px;
    }

    .saludo {
        font-size: 1.8rem;
        text-align: center;
    }

    .imgsobremi {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .sobreMi {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 0 40px;
    }

    .carta {
        font-size: 1.2rem;
        text-align: justify;
    }
}

/* tablets */
@media (max-width: 768px) {
    .inicio {
        height: 100vh; 
        background-size: cover;
    }

    .info {
        font-size: 16px;
    }

    .info p {
        font-size: 1rem;
        margin-top: 10px;
        width: 100%;  
        margin-left: 20px; 
    }

    .subtitulo {
        font-size: 1.4rem; 
        width: 100%;
        margin-left: 30px;  
    }

    .tratamientos {
        flex-direction: column; 
        margin-top: 30px;
        margin-left: 30px; 
    }

    .link {
        margin-left: 190px;
        padding: 12px;
    }


    .pregunta {
        font-size: 1.8rem; 
        margin-top: 60px;
        width: 100%;
        margin-left: 30px; 
    }

    .saludo {
        font-size: 2rem;
        width: 100%;  
    }

    .imgsobremi {
        width: 100%; 
        height: auto;
        display: block;
        margin-left: 20px; 
    }

    .sobreMi {
        flex-direction: column; 
        gap: 20px;
        margin-left: 30px; 
        width: 100%; 
    }
}

/* Móvil*/
@media (max-width: 480px) {
    .inicio {
        height: 100vh; 
        background-size: cover; 
        width: 100%;
    }

    .info p {
        font-size: 1rem;
        margin-top: 10px;
        width: 100%;
        margin-left: 120px;
    }

    .subtitulo {
        font-size: 1.2rem;
        width: 100%;
        margin-left: 120px;
    }

    .tratamientos {
        flex-direction: column; 
        margin-top: 30px;
        padding: 10px;
    }

    .link {
        margin: 15px auto;
        padding: 10px;
        margin-left:70px;
        width: 100%;
    }

    .pregunta {
        font-size: 1.8rem; 
        margin-top: 60px;
        width: 100%;
        margin-left:120px;
    }

    .saludo {
        font-size: 2rem; 
        width: 100%;

    }

    .imgsobremi {
        width: 100%; 
        height: auto;
        display: block;
        margin-left: 0px;
    }

    .sobreMi {
        flex-direction: column; 
        gap: 20px;
        margin-left: 120px;
        width: 100%; 
    }
}
