.fondo{
    background-image: linear-gradient(rgba(246, 233, 217, 0.5), rgba(248, 230, 210, 0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15cm;
}
.contenedorTitulo h1 {
    margin-top: 4rem;
}

/*botón para reservar*/
.boton{
    background: #D8C7B9;
    height: 30px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

/* contenedor principal*/
.detalle {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
    text-align: justify;
}

/*es todo el texto informativo del tratamiento*/
.descripcion {
    text-align: justify;
    line-height: 1.6;
    margin-top: 1rem;
}



