.navbar{
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    width: 80%;
    justify-content: center;
    position: absolute;
    padding-top: 40px;

}

h1{
    font-size: 75px;
    position: absolute;
    color: #6c6c6c;;
    top: 40%;  
    left: 50%;
    text-align: center;
    margin-top: 0;
    transform: translate(-50%, -50%);  
    
}
h2{
    font-size: 45px;
    position: absolute;
    display: flex;
    color: #6c6c6c;;
    top: 50%;  
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);  
    
}


.navbar a , h3 {
    color: #606060;
    font-size: 1.1rem; 
    text-decoration: none;
}

.banner{
    position: relative;
    overflow: hidden; /* Asegura que el texto no se desborde fuera del contenedor */
    background-color: #7A7A7A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fija el fondo */
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

@keyframes moveLeft {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.banner1{
    position: absolute;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    animation: moveLeft 35s linear infinite; /* La animación hace que el texto se mueva lentamente */
    color:#F4F0EB;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;;
    

}

/*boton regala tova*/
.regalaTova{
    background: #D8C7B9;
    height: 30px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.login {
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 0 0 15px;
    padding:0;
    width: 80%;
    justify-content: center;
    position: absolute;
    left: 12%;
    padding-top: 40px;
}
