
.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-top: 20px 40px;
    align-items: center;
    box-sizing: border-box;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 15px;
    padding: 0;
    margin: 0;
}

.links a{
    color:#575757;
}

.containerlinks {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    margin: 0;
    width: 100%;
    position: relative; 
}

.logo{
    /*padding-top: 20px;*/
    width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/*contenedor botones del administrador*/
.adminbutton {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 15px;
    flex-wrap: wrap; 
}

/*contenedor del navbar del / admin*/
.login {
    height: 100px; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px; 
    position: absolute;
    gap: 35px; 
    box-sizing: border-box;
}

.navbarHide {
    display: none;
}

.toggle {
    display: none; /* Oculta el contenido del menú */
}


.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: fit-content;
}


.line {
    width: 30px;
    height: 3px;
    background-color: #575757;
    margin: 3px 0;
}

h1 {
    font-size: 5rem;
    position: absolute;
    color: #575757;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 0;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 2.8rem;
    position: absolute;
    display: flex;
    color: #5c5b5b;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

h3,
.login a {
    color: #575757;
    font-size: 1.1rem;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.banner {
    position: relative;
    background-color: #7A7A7A;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 999;

    @media (max-width: 1024px) {
        height: 30px;
    }
}



@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.banner1 {
    white-space: nowrap;
    animation: moveLeft 25s linear infinite;
    color: #F4F0EB;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}



/*boton regala tova*/
.regalaTova {
    background: #ecdfcc;
    height: 30px;
    width: 160px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    color: #7A7A7A;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Clase para el logo cuando toggle está activo */
.toggleLogo {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto;
}


/*container logo*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*1440*/
@media (max-width: 1440px) {
    .navbar {
        font-size: 0.9rem;
        justify-content: center;
        margin-left: 0; 
    }

    .links {
        gap: 15px; 
    }

    h1 {
        font-size: 4.5rem;
        top: 30%; 
    }

    h2 {
        font-size: 2.2rem;
        top: 35%; 
    }

}

/*1024*/
@media (max-width: 1024px) {
    .navbar {
        font-size: 0.65rem;
        width: 100%;
        justify-content: center;
        width: 100%;
        margin-left: -30px;
    }

    .navbarHide {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
        top: 20%;  
    }

    h2 {
        font-size: 2rem;
        top: 25%; 
    }


    .navbar a,
    h3,
    .login a {
        font-size: .9rem;
        text-align: center;
        padding: 17px;
    }

    .banner {
        height: 30px;
    }

    .logo {
        width: 110px; 
        height: auto; 
        display: block; 
        margin-left: 35px;

    }

    .regalaTova{
        width: 100%;
    }

    @media (max-width: 1024px) {
    
        .containerlogo {
            flex:1;
        }
    
        .containerlinks {
            flex:2;
        }
    
        .adminbutton {
            flex:3;
        }
    }
}



/*768*/
@media (max-width: 768px) {
    .contenedorbotones {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbarHide {
        display: none; 
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 20px;
        gap: 5px;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: #575757;
        margin: 3px 0;
    }

    .logo {
        width: 110px;
        height: auto;
        display: block;
        margin-left: 0;
    }

    .toggleLogo {
        width: 110px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .regalaTova{
        width: 50%;
    }

    h1 {
        font-size: 3rem;
        top: 30%;  
        left: 300px;
    }

    h2 {
        font-size: 1.8rem;
        top: 37%;
        left: 300px;
    }


    .navbar {
        display: flex;
        flex-direction: row;        
        justify-content: space-between;
        align-items: center;      
        height: auto;
        padding: 10px 20px;
        top: 0;        
    }

    .containerlogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .containerlinks {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .adminbutton {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end;
        gap: 10px;
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: auto;
    }
    .login {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: auto;
        padding: 15px 20px;
        gap: 10px;
        position: absolute;
    }
}


/*480*/
@media (max-width: 480px) {
    .containerlogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 20px;
        gap: 5px;
    }

    h1 {
        font-size: 2.5rem;
        top: 30%;  
        left: 170px;
    }

    h2 {
        font-size: 1.5rem;
        top: 40%;  
        left: 170px;
        
    }
    .regalaTova{
        width: 30%;
    }
    .navbarHide {
        display: none;
    }
    .login {
        padding: 8px 10px;
        gap: 5px;
    }

    .links {
        gap: 5px;
    }

    .adminbutton {
        gap: 5px;
    }

    .contenedorbotones {
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
    }

}

