#root {
  max-width: 1280px;
  margin: 0 auto;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}*/

.card {
  padding: 2em;
}

.react-datepicker__day-names {
  position: relative;
  top: 30px
}

.react-datepicker__header {
  height: 60px;
  padding: 0;
}

h2.react-datepicker__current-month {
  position: absolute;
  top: 20px;
}

.react-datepicker-wrapper {
  height: 37px;
}

.react-datepicker__day--holidays {
  color: rgb(198, 195, 195);
  background-color: transparent;
}

.react-datepicker__day--highlighted {
  background-color: #f1c489;
  color: white;
  font-weight: bold;
}

.react-datepicker__day--selected {
  background-color: #836e6e;
}